{% load i18n admin_urls static admin_modify %}
<!-- in your header -->
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
<style type="text/css">
	.event-followers{
		display: block;
		width: 100%;
		float: left;
		padding: 10px 0;
		font-size: 0.5em;
	}
</style>
{% if show_events or show_followers %}

<div class="event-followers">	
	{% if show_events %}
		<span><strong>Events:</strong> {{data.model.event_count}}</span>
	{%endif%}

	{% if show_followers %}
		<span><strong>Followers:</strong> {{data.model.followers_count}}</span>
	{%endif%}
</div>
{%endif%}

<!-- in your body -->

