{% load i18n admin_urls static admin_modify %}
<!-- in your header -->
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
<style type="text/css">
	.superscript{float:left;}
	.subscript{float:left;}
	.supsub{
		float:left;
		padding-left: 10px;
		position: relative;
	    top: 10px;
	}
	.all-languages{
		padding-bottom: 10px;
		padding-top: 10px;
		display:block;
		width: 100%;
	}
	.language{
		float: left;
		padding:10px 0px;
	}
</style>
{% if show_languages %}

<div class="all-languages">	
{% for l,sub,class in data %}
		<span class="language"> 
			<i style="float:left;" class="{{class}}"></i>
			<span  class='supsub'>
				{% if show_submissions_title %}
					<sup class='superscript'>Submissions: {{sub}}</sup>
				{% else %}
					<sup class='superscript'>{{sub}}</sup>
				{% endif %}

				{% if show_language_title %}
					<sub class='subscript'>{{l}}</sub>
				{% endif %}
			</span>
			
		</span>
{% endfor %}
</div>
{% endif %}

<!-- in your body -->

