{% load i18n admin_urls static admin_modify %}
{% load extra %}

{% if show_last_submmissions %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<style type="text/css">
.last-submissions {
  width: 50px;
  float:left;
  display: block;

}

</style>

<div class="last-submissions">
  <div>
    <canvas id="myChart"></canvas>
  </div>
</div>
<script type="text/javascript">
	var ctx = document.getElementById("myChart").getContext('2d');

var original = Chart.defaults.global.legend.onClick;

Chart.defaults.global.legend.display = false;
Chart.defaults.global.tooltips.enabled = false;
Chart.defaults.global.legend.onClick = function(e, legendItem) {
  update_caption(legendItem);
  original.call(this, e, legendItem);
};

var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: {% autoescape off %}{{data|unzip:0}}{% endautoescape %},
    datasets: [{
      label: 'submisions',
      backgroundColor: "rgba(153,255,51,1)",
      data: {{data|unzip:1|toint}},
    }]
  },
  options:
    {
        scales:
        {
            xAxes: [{
                display: false
            }],
             yAxes: [{
                display: false
            }]
        }
    }
});
</script>

{%endif%}
