{% load i18n admin_urls static admin_modify %}
{% load extra %}

{% if show_last_submissions_languages %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<style type="text/css">
.last-submissions {
  width: 50%;
  float:left;
  display: block;

}
.last-submissions-languages{
    float: left;
  width: 100%;

}
  .all-languages{
    font-size: .7em;
    width: 50%;
    float: left;
    padding-top: 3.5em;

  }
  .language{
    float: left;
    padding-left:5px;
    font-weight: bold;
  }
</style>
<div class="last-submissions-languages">
  <div class="last-submissions">
    <div>
      <canvas id="myChart"></canvas>
    </div>
  </div>

  <div class="all-languages"> 
  {% for l,sub,class in data2 %}
      <span class="language"> 
          {{l}}
      </span>
  {% endfor %}
  </div>
</div>

<script type="text/javascript">
	var ctx = document.getElementById("myChart").getContext('2d');

var original = Chart.defaults.global.legend.onClick;

Chart.defaults.global.legend.display = false;
Chart.defaults.global.tooltips.enabled = false;
Chart.defaults.global.legend.onClick = function(e, legendItem) {
  update_caption(legendItem);
  original.call(this, e, legendItem);
};

var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: {% autoescape off %}{{data|unzip:0}}{% endautoescape %},
    datasets: [{
      label: 'submisions',
      backgroundColor: "rgba(153,255,51,1)",
      data: {{data|unzip:1|toint}},
    }]
  },
  options:
    {
        scales:
        {
            xAxes: [{
                display: false
            }],
             yAxes: [{
                display: false
            }]
        }
    }
});
</script>

{%endif%}
