{% load i18n admin_urls static admin_modify %}
<style type="text/css">
	.medal-field{
		display: block;
	}
	.all-medals{
		padding-bottom: 8px;
		text-align: center;
	    white-space: nowrap;
    	font-size: 1.5ex;
	}
</style>

{% if show_medals and data.totalmedals.items|length > 0  %}

	<div class="all-medals">
	{% for medal,count in data.totalmedals.items %} 
		
			{% if count > 0 %}
				<span class="medal">
				  <img src="{% static 'img/medals/'|add:medal|add:'.svg' ' %}" width="10" rel="tooltip" class="profile_badge_image" >
				  <strong> {{count}}	{{medal}}	</strong>
				</span>
			{%endif%}
	{% endfor %}
	</div>

	{% if show_medals_details %}
		<div class="all-medals--details">
		{% for area in data.datacontests %} 
			{% for medal,count in area.contest.medals.items %} 
				{% if count > 0 %}
					<span class="medal-field">
						{{area.name}}
						<span class="medal">
							<img src="{% static 'img/medals/'|add:medal|add:'.svg' ' %}" width="10" rel="tooltip" class="profile_badge_image" >
							{{count}} {{medal}} 	
						</span>
					</span>
				{%endif%}
			{% endfor %}
		{% endfor %}
		</div>
	{%endif%}
{%endif%}
