{% load i18n admin_urls static admin_modify %}

<div class="badge_image_container">
{% for model in data.models %}
    <img src="{% static 'img/'|add:model.image_url %}" width="150" rel="tooltip" class="profile_badge_image" data-original-title="Algorithms  level 2 ">
      	{% for i in 'xxxx' %}
      		{% if forloop.counter0 < model.level %}
  			 	<img src="{% static "img/star.png" %}" class="profile_badge_star" width="12">
      		{% else %}
  		 		<img src="{% static "img/star-outline.png" %}" class="profile_badge_unstar" width="12">
      		{% endif %}
        {% endfor %}
    
    <div class="fnt-wt-500 text-center fnt-sz-mid">
		{{model.percentile}} rd percentile
    </div>
    {% endfor %}
</div>