{% load i18n admin_urls static admin_modify %}

<style type="text/css">
  .badge_image_container_stars{
    position: relative;
    top: -45px;
    left: 44px;
  }
  .badge_image_container{
    float:left;
  }
  .text-center{
    text-align: center;
  }
</style>

{% for model in data.models %}
  <div class="badge_image_container">
      <img src="{% static 'img/'|add:model.image_url %}" width="150" rel="tooltip" class="profile_badge_image" data-original-title="Algorithms  level 2 ">
        <div class="badge_image_container_stars">
        	{% for i in 'xxxx' %}
        		{% if forloop.counter0 < model.level %}
    			 	<img src="{% static "img/star.png" %}" class="profile_badge_star" width="12">
        		{% else %}
    		 		<img src="{% static "img/star-outline.png" %}" class="profile_badge_unstar" width="12">
        		{% endif %}
          {% endfor %}
        </div>
      <div class="fnt-wt-500 text-center fnt-sz-mid">
  		  {{model.percentile}} rd percentile
      </div>
  </div>
{% endfor %}
