<div class="badge_image_container">
    <img src="https://d3keuzeb2crhkn.cloudfront.net/hackerrank/assets/badges/badge-algo-a58cf850f755e3145e76ee03ce0c86ed.png" width="150" rel="tooltip" class="profile_badge_image" data-original-title="Algorithms  level 2 ">
          
            <img src="https://d3keuzeb2crhkn.cloudfront.net/hackerrank/assets/badges/star-f16c5e55373f68cc1936665134bf36a9.png" class="profile_badge_star" width="12" style="left: 43px;">
          
            <img src="https://d3keuzeb2crhkn.cloudfront.net/hackerrank/assets/badges/star-f16c5e55373f68cc1936665134bf36a9.png" class="profile_badge_star" width="12" style="left: 61px;">
          
            <img src="https://d3keuzeb2crhkn.cloudfront.net/hackerrank/assets/badges/star-outline-f83d79fcb1327efc789f18fc8cb0bbb1.png" class="profile_badge_star" width="12" style="left: 79px;">
          
            <img src="https://d3keuzeb2crhkn.cloudfront.net/hackerrank/assets/badges/star-outline-f83d79fcb1327efc789f18fc8cb0bbb1.png" class="profile_badge_star" width="12" style="left: 97px;">
    
    <div class="fnt-wt-500 text-center fnt-sz-mid">
        
            33rd percentile
        
    </div>
</div>