{% extends "base.html" %}
{% load i18n admin_urls static admin_modify %}
<style type="text/css">
  sup {
  }
  .float-left{
  	float:left;
  }
</style>
{% block content  %}
<div class="card">
	<h3 class="card-header">
	    {% include "_includes/profile_picture_username_level.html" with data=profile show_image=True show_username=True show_level=True only %}
	</h3>
	<div class="card-block">
		<h4 class="card-title">
		    {% include "_includes/medals.html" with data=contest show_medals=True show_medals_details=False only %}
			{% include "_includes/languages.html" with data=languages show_languages=True show_submissions=True show_language=True only %}
			{% include "_includes/events_followers_count.html" with data=profile show_events=True show_followers=True only %}
		</h4>

		{% include "_includes/badges.html" with data=badges show_badges=True only %}

		{% include "_includes/profile_bio_website.html" with data=profile show_bio=True show_website=True only %}
		
	</div>
</div>
{% endblock %}