{% extends "base.html" %}
{% load i18n admin_urls static admin_modify %}

{% block content  %}
<style type="text/css">
  sup {
  }
  .float-left{
  	float:left;
  }

  .card-header{
  	padding-top:0px;
  	padding-bottom:0px;
  }
  .card-block{
  	padding: 0 1.25rem;
  }
  .card{
    margin-bottom: 0;
  }
</style>
<div class="card">
	<h3 class="card-header">
	    {% include "_includes/profile_picture_username_level.html" with data=profile show_image=show_image show_username=show_username show_level=show_level only %}
	</h3>
	<div class="card-block">
		 
	    {% include "_includes/medals.html" with data=contest show_medals=show_medals show_medals_details=show_medals_detailse only %}

		{% include "_includes/badges.html" with data=badges show_badges=show_badges only %}
	   
		
		{% include "_includes/events_followers_count.html" with data=profile show_events=show_events show_followers=show_followers only %}

		{% include "_includes/last_submissions_languages.html" with data=submissions  data2=languages show_last_submissions_languages=show_last_submissions_languages only %}

		
	</div>
</div>
{% endblock %}